<h1>Add Book</h1>

{% for message in app.flashes('success') %}
    <div style="color: green;">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}

<div>
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
</div>

<div>
    {{ form_label(form.publicationDate) }}
    {{ form_widget(form.publicationDate) }}
    {{ form_errors(form.publicationDate) }}
</div>

<div>
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    {{ form_errors(form.category) }}
</div>

<div>
    {{ form_label(form.author) }}
    {{ form_widget(form.author) }}
    {{ form_errors(form.author) }}
</div>

<button type="submit">Save</button>

{{ form_end(form) }}
